.alignLoading{
    display: flex;
    align-items: center;
    justify-content: center;
}

.productList{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
}

.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.73);
    padding: 20px;
    background-color: #fff;
    width: 300px;
    height: 400px;
}

